@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    margin: 0;
    /* min-height: 100vh; */
    font-family: Roboto, "Open Sans", sans-serif;
}

.container-one {
    background-color: #1F2937;
    padding-left: 210px;
    padding-right: 100px;
}


.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
}

a:link,
.text {
    font-size: 18px;
    color: #E5E7EB;
}

.heading {
    font-size: 48px;
    font-weight: 900;
}

.logo,
.heading {
    color: #F9FAF8;
}

/* .container-one {
    display: flex;
    flex-direction: column;
} */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.main-one {
    display: flex;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* .main-one > * {
    border: 10px solid red;
} */

.left-side {
    flex-shrink: 3;
    /* padding-right: 40px; */

}

.right-side {
    margin-left: 40px;
    flex-grow: 2;
    width: 400px;
    padding: 110px;
    text-align: center;
    background-color: #707580;
    color: white;
}

button {
    padding: 8px 30px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: 1px solid #3882F6;
    margin-top: 10px;
}
