@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap');

body {
    margin: 0;
    min-height: 100vh;
   font-family: Roboto, "Open Sans", sans-serif;   
}

.hero {
    background-color: #1F2937;   
    height: 500px;
    padding: 20px 180px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900; 
}

nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
}

a:link,
.hero .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.container {
    flex: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* .hero-main {
    flex: 1;
} */

.right-side {
    flex-shrink: 0;
    width: 300px;
    padding: 100px;
    text-align: center;
    background-color: #707580;
    color: white;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 900;
    background-color: #3882F6;
    color: white;
    border: 1px solid #3882F6;
    border-radius: 8px;
    padding: 8px 30px;
    margin-top: 10px;
}


.center-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 50px;   
}

.list {
    font-size: 18px;
    color: #1F2937;
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
}

.product {
    border: 4px solid #3882F6;
    border-radius: 15px;
    padding: 77px 55px;
    width: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    gap: 10px;
}

.center-bottom {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 280px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    padding-right: 40px;
}

.third-section {
    display: flex;
    margin: 100px 200px;
    padding: 50px 100px;
    background-color: #3882F6;
    justify-content: space-between;
    color: white;
    border: 1px solid #3882F6;
    border-radius: 8px;
}

.call-to-action {
    font-size: 24px;
    font-weight: bolder;
}

.below {
    font-size: 18px;
}

.sign-up {
    border: 2px solid white;
}

footer {
    background-color: #1F2937;
    color: white;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
